*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: #697cb3;
}

.text-center{
  text-align: center;
}

.container{
  width: 60%;
  margin:20% auto;
}

.ListItems{
  background-color: white;
  color: #46529d;
}

.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  border:.4px solid #ccc
}

.ListItems span.title{
  background-color: #46529d;
  color: #fff;
}
.ListItems span.name,form input[type="text"]{
  width: 60%;
}

.ListItems span.action,form button{
  width: 20%;
}

.ListItems span.age,form input[type="number"]{
  width: 20%;
}

.ListItems span.icon{
  color: red;
  cursor: pointer;
}

form input,form button{
  padding: 10px;
  background-color: #ebebeb;
  border: transparent;
  border: .4px solid #ccc;
}
form button{
  cursor: pointer;
  color: white;
  background-color:#26b126;
  text-transform: uppercase;
}