.drop {
  padding: 50px 0;
  text-align: center
}

.drop .drop-title {
  font-size: 60px;
  margin-bottom: 30px
}

.drop .drop-title span {
  font-weight: normal
}

.drop form {
  width: 70%;
  margin: auto;
}

.drop form input {
  box-sizing: border-box;
  outline: 0;
  padding: 8px;
  margin-bottom: 10px
}

.drop form .form-input {
  overflow: hidden
}

.drop form .form-input input {
  width: 49%;
  padding: 8px;
}

.drop form .form-input input[type=text] {
  float: left
}

.drop form .form-input input[type=email] {
  float: right
}

.drop form input.sub {
  width: 100%;
}

.drop form textarea {
  width: 100%;
  outline: 0;
  background: #ccc;
  padding: 8px;
}

.drop form input[type=submit] {
  background: #eb5424;
  color: #fff;
  font-size: 18px;
  width: 150px;
  border: 0;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 3px 2px #111;
  transition: .3s ease-in-out;
  margin-top: 15px;
}

.drop form input[type=submit]:hover{
  box-shadow: none;
}