.header {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #000
}
.header .container {
  display: flex;
}
.header .logo {
  width: 30%;
}

.navbar{
  width: 70%;
}

.header .ul-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header .ul-list .list-item a {
  display: block;
  color: #222;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.header .ul-list .list-item a:hover {
  color: #eb5424
}