.work {
  height: auto;
  overflow: hidden;
}
.work .ContentWork{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.work .work-title {
  font-size: 60px; 
}

.work .work-title span {
  font-weight: normal
}

.work .part {
  margin-top: 20px;
  width: 30%;
  padding: 100px 0;
  border: 1px solid #888;
  box-sizing: border-box;
  text-align: center;
}

.work .first {
  margin-left: 0
}

.work .part .icon {
  color: #888;
}

.work .part .part-title {
  font-size: 25px;
  color: #eb5424;
  margin-bottom: 20px
}

.work .part .line {
  width: 60%;
}

.work .part .part-desc {
  font-size: 14px;
  color: #888;
  padding: 20px
}